@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <h1>O que é Do It?</h1>
        <p><strong>Do It</strong> é uma empresa que disponibiliza serviços de qualidade e confiança para a sua casa. Com profissionais de alta qualidade, fornecemos serviços de Limpeza,
            Elétrica, alvenaria e serviços de encanamento para sua casa. Você solicita o serviço e um de nossos associados comparece até sua residencia e você não precisa se preocupar com nada.
            Antes que o prestador de serviços chegue em sua casa, disponibilizamos os dados necessários sobre ele, para que você não caia em fraudes e tenha o maior conforto e segurança.
            Serviços com garantia, otimos preços e a maior comodidade para você e sua familia.</p>

