@model List<AlunoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Alunos</h2>

<a href="/aluno/create">Novo Registro</a>
<br />

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>RA</th>
        <th>Nome</th>
        <th>Data de nascimento</th>
    </tr>

    @foreach (var aluno in Model)
    {
        <tr>
            <td>
                <a href="aluno/Edit?id=@aluno.Id">Editar</a>  
                <a href="javascript:apagarAluno(@aluno.Id)">Apagar</a>
            </td>
            <td>@aluno.Id</td>
            <td>@aluno.Nome</td>
            <td>@aluno.DataNascimento.ToShortDateString()</td>
        </tr>
    }
</table>

<script>
    function apagarAluno(id)
    {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'aluno/Delete?id=' + id;
    }
</script>