@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<Body id="contato">
    <div>
        <section id="banner">
            <header>
                <h2>Facilidade na procura do serviço que você precisa</h2>
            </header>
        </section>

        <div class="row">
            <article class="col-3 col-12-mobile special">
                <a href="#" class="image featured"><img src="~/images/images.6.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Serviços de limpeza</a></h3>
                </header>

            </article>
            <article class="col-3 col-12-mobile special">
                <a href="#" class="image featured"><img src="~/images/images.9.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Serviços de elétrica</a></h3>
                </header>

            </article>
            <article class="col-3 col-12-mobile special">
                <a href="#" class="image featured"><img src="~/images/images.7.jpg" alt="" /></a>
                <header>
                    <h3><a href="#">Serviços de encanamento</a></h3>
                </header>

            </article>
            <article class="col-3 col-12-mobile special">
                <a href="#" class="image featured"><img src="~/images/images.8.jpg" alt="" /></a>
                <header>
                    <h3><a class="labels" href="#">Serviços de alvenaria</a></h3>
                </header>

            </article>
        </div><br/><br /><br />
        <div id="contato-div">
            <h3>Serviços de Limpeza</h3>
            <p>
                A remoção de pó, resíduos de substâncias orgânicas e inorgânicas, além da organização de ambientes, fazem parte da limpeza comum. Geralmente, as tarefas domésticas, que incluem faxinas básicas ou de manutenção, são feitas em casas ou apartamentos
            </p>
            <h3>Serviços de Encanador</h3>
            <p>
                Instalações, inspeções e revisões hidráulicas, além de reparos. ... Troca e instalação de coluna de água limpa e esgoto, ramais e chuveiros. Reparo em tubulações de PVC, PPR, Ferro e Cobre.
            </p>
            <h3>Serviços de Eletricista</h3>
            <p>
                Instalação, vistoria para o correto funcionamento e, quando necessário, o reparo de aparelhos elétricos, eletrônicos e redes de distribuição de energia elétrica.
            </p>
            <h3>Serviços de Alvenaria</h3>
            <p>
                Instalação de porcelanatos, assentamento de pisos, limpeza e ajustes necessários em alvenaria, manutenção ou construção de fachadas,instalação de portas, janelas, venezianas, esquadrias metálicas e sua recuperação.
            </p>
        </div>
    </div>
    </Body>