
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-2.cshtml";
}

    <body id="contato">
        
        <div id="contato-div"><br/><br />
            <h3>Torne-se nosso cliente:</h3><br /><br />
            <a id="sobredoit" asp-controller="CadastroPrestador" asp-action="Index">Seja um prestador de serviço</a>
            <div class="row">
                <div class="col-md-4">
                    <label for="Nome" class="control-label">Nome</label><br />
                    <input type="text" Name="Nome" class="form-control" /><br /><br />
                    <label for="CPF" class="control-label">CPF</label><br />
                    <input type="text" Name="CPF" class="form-control" /><br /><br />
                    <label for="CEP" class="control-label">CEP</label><br />
                    <input type="text" Name="CEP" class="form-control" /><br /><br />
                    <label for="Usuário" class="control-label">Usuário</label><br />
                    <input type="text" Name="Usuário" class="form-control" /><br /><br />
                    <label for="Password" class="control-label">Password</label><br />
                    <input type="text" Name="Password" class="form-control" />
                </div>
            </div>
        </div>
    </body>
