@model List<CidadeViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Cidades</h2>

<a href="/Cidade/create">Novo Registro</a>
<br />

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>Nome</th>
    </tr>

    @foreach (var Cidade in Model)
    {
        <tr>
            <td>
                <a href="Cidade/Edit?id=@Cidade.Id">Editar</a>  
                <a href="javascript:apagarCidade(@Cidade.Id)">Apagar</a>
            </td>
            <td>@Cidade.Id</td>
            <td>@Cidade.Nome</td>
        </tr>
    }
</table>

<script>
    function apagarCidade(id)
    {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'Cidade/Delete?id=' + id;
    }
</script>