@{
    Layout = "~/Views/Shared/_Layout-2.cshtml";
}

    <body id="contato">

        <div id="contato-div">
            <br/>
            <h2>Fale com a gente!</h2><br />
            <div class="col-12-normal">
                <h3>Email Do It</h3>
                <h4>DoIt@DoIt.com</h4>
            </div><br />

            <div class="col-12-normal">
                <h3>Telefone Do It</h3>
                <h4>+55 11 9999-9999</h4>
            </div><br />

            <div id="circle">
                <img src="~/images/casa.png" />
            </div>
        </div>
        
    </body>

